<script>

function portfolio() {
    data = {
        portfolio: [
        {% assign loop = 0 %}
        {% for portfolio in site.data.portfolio limit:1 %}
          {% assign data = portfolio.list | reverse %}
          {% for list in data %}
            {% if list.status == 'planned' %}
            {% continue %}
            {% endif %}
            {% if loop > 3 %}
            {% break %}
            {% else %}
            {% assign loop = loop | plus:1 %}
            {% endif %}
                {
                    image: "{{ list.image }}",
                    name: "{{ list.name }}",
                    status: "{{ list.status }}",
                    link: "{{ list.link }}",
                    github: "{{ list.github }}",
                },
        {% endfor %}
        {% endfor %}
        ],
        dataIndex: 0
    };

    console.log(data.portfolio.length);

    return data;
}

</script>