<footer class="h-auto py-8 bg-black text-white">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="my-2 md:my-0">
                <span class="block site-footer-credits">Hosted on <a href="https://pages.github.com">GitHub Pages</a></span>
            </div>
            <div class="my-2 md:my-0 text-left md:text-right">
                <span class="block site-footer-credits">Copyright &copy; 2019-{{ 'now' | date: '%Y' }}</span>
                <span class="block site-footer-credits">Made with ♥ by <a href="https://github.com/easterneas">me</a> :)</span>
            </div>
        </div>
    </div>
</footer>