<div class="hidden lg:block transition-colors duration-200"
:class="{ 'bg-white shadow-md text-black' : !onTop, 'bg-transparent text-white' : onTop }">
<div class="container mx-auto">
    <div class="grid grid-cols-5">
        <div class="mx-0 w-16">
            <a href="/"
                class="grid w-16 items-center h-16 py-2">
                <div class="h-full"
                    :class="{ 'bg-white': onTop, 'bg-black': !onTop }"
                    style="mask-image: url(/assets/img/svg/logo.svg); -webkit-mask-image: url(/assets/img/svg/logo.svg);
                    mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat;
                    mask-position: center; -webkit-mask-position: center;">
                </div>
            </a>
        </div>
        <div class="col-span-4 flex flex-row justify-end items-center"
        :class="{ 'text-white' : onTop, 'text-black' : !onTop }">
            {% for menu in site.data.nav %}
            <div>
                <a href="{{ menu.link }}" class="block hover:text-gray-500 p-2 ml-4 {% if page.url == menu.link %} rounded-lg font-bold {% endif %}"
                :class="{ 'text-white': onTop, 'text-black': !onTop }"
                style="{% if page.url == menu.link %} background: rgba(128,128,128,0.25) {% endif %}">{{ menu.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>