<div class="hidden md:block container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5">
        <div class="mx-auto md:mx-0 w-16 col-span-1 lg:col-span-1">
            <a href="/"
                class="grid grid-cols-1 md:grid-cols-2 w-16 items-center text-white h-16 py-2 lg:py-0 lg:w-20">
                <div class="h-full bg-contain bg-center bg-no-repeat"
                    style="background-image: url(/assets/img/svg/logo.svg);">
                </div>
                <div class="inline-block ml-4 font-bold text-2xl tracking-wide">Eas</div>
            </a>
        </div>
        <div class="md:text-right col-span-1 lg:col-start-4 lg:col-span-2">
            <div class="flex text-white justify-around align-middle content-center py-5">
                {% for menu in site.data.nav %}
                <a href="{{ menu.link }}" class="self-center">{{ menu.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>