<div class="hidden lg:block container mx-auto">
    <div class="grid grid-cols-5">
        <div class="mx-0 w-16">
            <a href="/"
                class="grid grid-cols-2 w-20 items-center text-white h-16">
                <div class="h-full bg-contain bg-left bg-no-repeat"
                    style="background-image: url(/assets/img/svg/logo.svg);">
                </div>
                <div class="inline-block ml-4 font-bold text-2xl tracking-wide">Eas</div>
            </a>
        </div>
        <div class="col-span-4 text-right">
            {% for menu in site.data.nav %}
            <a href="{{ menu.link }}" class="inline-block text-white hover:text-gray-500 py-5 ml-4">{{ menu.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>