<div class="lg:hidden grid grid-cols-1">
    <div class="mx-auto w-16 col-span-1">
        <a href="/" class="grid grid-cols-1 w-16 items-center text-white h-16 py-2">
            <div class="h-full bg-contain bg-center bg-no-repeat"
                style="background-image: url(/assets/img/svg/logo.svg);">
            </div>
        </a>
    </div>
    <div class="md:text-right col-span-1">
        <div class="w-screen px-8 border-t-2 bg-gray-900 border-white text-white">
            <div id="left" class="text-sm text-center">
                {% for menu in site.data.nav %}
                <a href="{{ menu.link }}"
                    class="inline-block px-2 py-4 text-white hover:text-gray-500">{{ menu.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>