@tailwind base;

body {
    font-family: 'Lato', sans-serif;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

/* Base */

/* body {
    @apply mx-auto;
}
 */

.container {
    @apply mx-auto;
    @apply w-screen;
}

/* nav {
    @apply fixed w-full flex items-center justify-between bg-black px-4 h-16;
} */

span>a:first-child {
    @apply ml-0;
}

main > div.container > div > p {
    @apply mb-4;
}

.parallax {
    height: 100%;
    max-width: initial;
    left: -50%;
}

/* Size-specific */

@screen xl {
    .parallax {
        max-width: 100%;
        height: auto;
    }
}

/* @screen sm {
    h1 {
        @apply text-xl;
    }

    nav {
        @apply flex-wrap;
    }

    nav #menu {
        @apply fixed left-0 mt-16;
    }

    nav #menu > div {
        @apply flex;
    }

    nav #menu-btn {
        @apply block;
    }
}



@screen lg {
    nav #menu {
        @apply items-center w-auto;
    }
    
    nav #menu > div#left > a {
        @apply mt-0;
    } 
} */

#article > #disqus_thread {
    max-width: 320px;
    @apply mx-auto;
    @apply mb-16;
}

@screen sm {
    #article > #disqus_thread {
        max-width: 480px;
    }
}

@screen md {
    #article > .container {
        @apply shadow-2xl rounded-lg;
        @apply bg-white;
        @apply relative;

        top: -4rem;
    }

    #article > #disqus_thread {
        max-width: 768px;
    }
}

@screen lg {
    #article > #disqus_thread {
        max-width: 1024px;
    }
}

@screen xl {
    #article > #disqus_thread {
        max-width: 1280px;
    }
}

/* Article-specific */

#article > .container {
    @apply py-16;
}

#article a {
    @apply text-blue-700;
}

#article a:hover {
    @apply text-blue-900;
}

#article img:not(#about) {
    @apply mx-auto;
    @apply block;
    @apply w-full;
    @apply max-w-screen-sm;
}

#article pre {
    @apply bg-gray-900;
    @apply overflow-x-scroll;
}

#article pre > code {
    @apply w-full;
    @apply py-4;
}

#article code {
    @apply px-2;
    @apply text-sm;
    @apply rounded-md;
    @apply inline-block rounded-sm;
    @apply bg-gray-900;
    @apply text-gray-400;
    @apply mr-1;
}

#article ul {
    @apply list-outside;
    @apply pl-4;
    @apply list-disc;
}

#article li {
    @apply mb-2;
}

#article h2,
#article h3,
#article h4,
#article h5,
#article h6,
#article pre,
#article ul {
    @apply mb-4;
}

#article h2 {
    @apply text-3xl;
}

#article h3 {
    @apply text-2xl;
}

#article h4 {
    @apply text-xl;
}

#article h5 {
    @apply text-lg;
}

/* Markdown */

#article .sr
{
    @apply text-red-500;
}

#article .se
{
    @apply text-orange-400;
}

#article .c1,
#article .nt,
#article .err,
#article .o
{
    @apply text-green-700;
}

#article .nx
{
    @apply text-teal-500;
}

#article .s,
#article .s1,
#article .s2,
#article .dl
{
    @apply text-red-400;
}

#article .p
{
    @apply text-gray-200;
}

#article .na,
#article .nl
{
    @apply text-blue-400;
}

#article .k
{
    @apply text-purple-500;
}

@tailwind components;
@tailwind utilities;