<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% include head.js.html %}
  {% include head.meta.html %}

  {% if page.title %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  {% include head.styles.html %}
</head>

<body>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  {% include nav.html %}

  {% if page.header.enabled %}
    {% include components/header.html %}
  {% endif %}

  <main role="main">

    <div class="container mb-8">
      {{ content }}
    </div>

    <div class="container mb-8">

      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">

        <div class="col-span-1 md:col-span-3">
          {% for post in site.posts %}
          <!-- Post card -->
          <div class="grid grid-cols-1 md:grid-cols-3 mb-8">
            <div class="col-span-1 md:col-span-2 px-8 py-4 flex flex-col justify-around">
              <h3 class="text-3xl mb-4">{{ post.title }}</h3>
              <div>
                  <p class="mb-4">{{ post.description }}</p>
                  <a href="{{ post.url }}" class="inline-block uppercase border border-black rounded-full px-4 py-2">Read
                      More</a>
              </div>
            </div>
            {% if post.header.image %}
            <div class="col-span-1 bg-cover bg-center bg-no-repeat w-full h-64"
              style="background-image: linear-gradient(-90deg, rgba(100,100,100,.4), rgba(100,100,100,0.2)),url({{ post.header.image }})">
            </div>
            {% else %}
            <div class="col-span-1 rounded-lg bg-contain bg-center bg-no-repeat w-full h-64"
              style="background-image: url({{ '/assets/img/svg/logo.svg' }}),linear-gradient(-90deg, rgba(100,100,100,.8), rgba(100,100,100,0))">
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        {% include page/blog.aside.html %}

      </div>

    </div>
  </main>

  {% include footer.html %}

  {% include js.html %}
</body>

</html>