<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      {% include head.analytics.html %}
      {% include head.meta.html %}
      {% include head.title.blog.html %}
      {% include head.styles.html %}
  </head>
  <body>
    
    {% include nav.html %}

    {% include header.blog.html %}

    <main role="main">
      <div class="container">

        {{ content }}

        <div class="mb-8">
          <h1>My Posts</h1>
        </div>

        <div class="posts">
            {% for post in site.posts %}
            <!-- Post card -->
              <div class="sm:hidden md:block">
                <div class="card">
                  <div class="card-header">
                      {{ post.image }}
                      <img src="{{ '/assets/img/svg/logo.svg' }}" class="fill-current text-white h-full">
                  </div>
                  <div class="card-body">
                    <a href="{{ post.permalink }}">
                      <h3>{{ post.title }}</h3>
                    </a>
                    <span>{{ post.summary }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </main>

    <aside>
    </aside>

    {% include footer.html %}
  </body>
</html>
