<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% include head.analytics.html %}
  {% include head.meta.html %}
  {% include head.title.default.html %}
  {% include head.styles.html %}
</head>

<body>

  {% include nav.html %}

  {% include header.default.html %}

  <main role="main">
    <!-- <div class="container mb-8">
        {% for project in site.data.projects %}
        {{ project.name }}
        {{ project.description }}
        <img src="{{ project.image }}" alt="{{ project.name }}">
        {% endfor %}
    </div> -->
    <div class="container mb-8">
      {{ content }}
    </div>
    <div class="container mb-8">
      <div class="mb-8">
        <h2 class="text-2xl md:text-3xl lg:text-4xl text-center">My Recent Posts</h2>
      </div>

      <div class="mb-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for post in site.posts limit: 4 %}
        <!-- Post card -->
        <a href="{{ post.permalink }}">
          <div class="bg-gray-200 rounded-lg hover:bg-gray-400">
            {% if post.image %}
            <div class="bg-cover bg-center bg-no-repeat w-full h-64" style="background-image: url({{ post.image }})">
            </div>
            {% else %}
            <div class="bg-contain bg-center bg-no-repeat w-full h-64"
              style="background-image: url({{ '/assets/img/svg/logo.svg' }})">
            </div>
            {% endif %}
            <div class="p-4">
              <h3 class="text-2xl mb-4">{{ post.title }}</h3>
              <p>{{ post.summary }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="text-center">
        <a href="/blog" class="mx-auto inline-block px-4 py-2 border border-black hover:text-white hover:bg-black rounded-full uppercase">
          Older posts
        </a>
      </div>
    </div>
  </main>

  <aside>
  </aside>

  {% include footer.html %}
</body>

</html>