<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="title" content="{{ page.title }} | {{ site.title }}">
    {% else %}
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ site.title }}">
    {% endif %}

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Eas">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ site.data.manifest['docs.css'] }}">

  </head>
  <body>
    <nav>
        <div id="logo" class="flex items-center flex-shrink-0 text-white mr-6">
          <img src="{{ '/assets/img/svg/logo.svg' }}" class="fill-current text-white h-full mr-3">
          <!-- <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg> -->
          <div class="font-semibold text-xl tracking-tight">Eas</div>
        </div>
        <div id="menu">
          <div id="menu-btn">
            <button>
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
          </div>
          <div id="left" class="text-sm flex-grow py-5">
            <a href="#responsive-header">
              Docs
            </a>
            <a href="#responsive-header">
              Examples
            </a>
            <a href="#responsive-header">
              Blog
            </a>
          </div>
          <div id="right">
            <a class="action" href="#">Download</a>
          </div>
        </div>
      </nav>
      
    <header role="banner">
      <div class="container">
          <span class="py-6">
              <h1 class="project-name">{{ site.title }}</h1>
              <h2 class="project-tagline">{{ page.description1 }}</h2>
              <h2 class="project-tagline">{{ page.description2 }}</h2>
          </span>
          <span class="py-4">
            <a href="{{ site.github.profile }}" class="btn">View on GitHub</a>
          </span>
      </div>
    </header>

    <main role="main">
      <div class="container">
        {{ content }}

        <div class="posts">
            {% for post in site.posts %}
            <!-- Post card -->
              <div class="post">
                <div class="card">
                  <div class="card-header">
                      {{ post.image }}
                      <img src="{{ '/assets/img/svg/logo.svg' }}" class="fill-current text-white h-full mr-3">
                  </div>
                  <div class="card-body">
                    <a href="{{ post.permalink }}">
                      <h3>{{ post.title }}</h3>
                    </a>
                    <span>{{ post.summary }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </main>

    <aside>
      </aside>

    <footer class="site-footer">
      <div class="container">
          {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </div>
    </footer>
  </body>
</html>
