<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      {% include head.js.html %}
      {% include head.meta.html %}

      {% if page.title %}
      <title>{{ page.title }} | {{ site.title }}</title>
      {% else %}
      <title>{{ site.title }}</title>
      {% endif %}

      {% include head.styles.html %}
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    {% include nav.html %}

    {% include header.page.html %}

    <main role="main">
      <div class="container py-8">
        {{ content }}
      </div>
    </main>

    <aside>
    </aside>

    {% include footer.html %}
    
    {% include js.html %}
  </body>
</html>
