<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% include head.html %}
    
  </head>
  <body>
    {% include nav.html %}

    {% include post.header.html %}

    <main role="main">
      <div class="container">
        {{ content }}

        <div class="posts">
            {% for post in site.posts %}
            <!-- Post card -->
              <div class="post">
                <div class="card">
                  <div class="card-header">
                      {{ post.image }}
                      <img src="{{ '/assets/img/svg/logo.svg' }}" class="fill-current text-white h-full mr-3">
                  </div>
                  <div class="card-body">
                    <a href="{{ post.permalink }}">
                      <h3>{{ post.title }}</h3>
                    </a>
                    <span>{{ post.summary }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </main>

    {% include post.aside.html %}

    {% include footer.html %}
  </body>
</html>
