<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.analytics.html %}
    {% include head.meta.html %}
    {% include head.title.post.html %}
    {% include head.styles.html %}
  </head>
  <body>
    {% include nav.html %}

    {% include header.post.html %}

    <main role="main">
      <div class="container py-8">

        <div class="w-3/4 mx-auto mb-8">
          {{ content }}
        </div>

        <div class="w-3/4 mx-auto mb-8">
          {% if page.comments %}
            {% include disqus.html %}
          {% endif %}
        </div>

        <div class="mb-8">
          <h2 class="mb-4 text-center text-2xl sm:text-3xl lg:text-4xl">My Latest Posts</h2>
        </div>

        

      <div class="mb-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          {% for post in site.posts limit: 4 %}
          <!-- Post card -->
          <a href="{{ post.permalink }}">
            <div class="bg-gray-200 rounded-lg hover:bg-gray-400">
              {% if post.image %}
              <div class="bg-cover bg-center bg-no-repeat w-full h-64" style="background-image: url({{ post.image }})">
              </div>
              {% else %}
              <div class="bg-contain bg-center bg-no-repeat w-full h-64"
                style="background-image: url({{ '/assets/img/svg/logo.svg' }})">
              </div>
              {% endif %}
              <div class="p-4">
                <h3 class="text-2xl mb-4">{{ post.title }}</h3>
                <p>{{ post.summary }}</p>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
  
        <div class="text-center">
          <a href="/blog" class="mx-auto inline-block px-4 py-2 border border-black hover:text-white hover:bg-black rounded-full uppercase">
            Older posts
          </a>
        </div>
      </div>
    </main>

    {% include post.aside.html %}

    {% include footer.html %}
  </body>
</html>
